doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='/styles.css', type = 'text/css')  
	body
		div.bodydiv
		div.bodyTextdiv
			a(href='/') Home
			br
			br
			br
			h2 You're logged out, see you back soon!
			br