/*CSS style for Language Learning Model Diagram*/

/*To be customized!!!*/

body{
	text-align: center;
	background-image: url("planet-earth.jpg");
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.bodydiv{
	z-index: 1;
	position: fixed;
	background-color: white;
	width: 80%;
	height:100%;
	left: 10%;
	right: 10%;
	margin:;
	padding: 20px;
	opacity: 0.7;
	text-align: center;
}

.bodyTextdiv{
	z-index: 2;
	position:relative;
	width: 80%;
	height: 100%;
	margin: auto;	
	padding: 20px;
	text-align: center;
	overflow: auto;
}

.bodyTextdiv p{
	z-index: 2;
	position:relative;
	width: 80%;
	height: 100%;
	margin: auto;	
	text-align: left;
	overflow: auto;
}



#columnleft{
	float: left;
	width: 40%;
	text-align: center;
	vertical-align: top;
}

#columnright{
	float:right;
	width: 40%;
	text-align: center;
	vertical-align: top;
}

h1 {
	text-align: center;
	font-style: bold;
	font-family: Helvetica;
	font-size: 60px;
}

h2 {
	text-align: center;
	font-style: bold;
	font-family: Helvetica;
	font-size: 25px;
	color: orange;
}
h3 {
	text-align: center;
	font-style: bold;
	font-family: Helvetica;
}

p {
	text-align: center;
	font-style: italic;	
	font-family: Helvetica;
	font-size: 20px;		
}

li {							
	display: inline-block;
	list-style-type: none;
	width: 80%;
	background-color: white;
	text-align: center;
	padding: 10px;
	margin: 20px;
	vertical-align: top;
	font-family: Helvetica;
	font-size: 20px;
}


p#date {
	font-size: 11px;
	font-style: italic;
}

.form {		
	font-family: Helvetica;			
	text-align: center;
	width: 80%;
	margin: auto;
}

input[type=text] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: none;
    text-align: center;
}

input[type=password ] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: none;
    text-align: center;
}

input.message{
	width: 100%;
	height: 200px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: none;
    text-align: center;
}

input.comment{
	width: 100%;
	height: 100px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: none;
    text-align: center;
}

input[type=submit] {
    background-color: grey;
    border: none;
    width: 100%;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

a{
	color: black;
	font-style: italic;
	font-family: Helvetica;
	font-size: 20px;
}

#onePost{
/*	border:2px solid grey;*/
	background-color: white;
	width: 80%;
	text-align: center;
	margin: auto;
	padding:10px;
}
